@import "tailwindcss";

@theme {
  --color-zinc-50: #FFFCEE;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-zinc-50);
  }
}