@import "tailwindcss";

@theme {
  --color-zinc-50: #FFFCEE;
  --color-zinc-60: #FFE897;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
}